  
  .main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width:800px){
      flex-direction: column;
    }
  }
  
  .hero{
    width: 80%;
    @media screen and (max-width:800px){
      width:100%;
      padding-left:0;
    }
  }
  
  .projects{
    width:40%;
    @media screen and (max-width:800px){
      width:100%;
    }
  }
  