

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  
  .main-content{
    display: flex;
    justify-content: space-between;
  }
  
  .hero{
    width: 80%;
  }
  
  .projects{
    width:40%;
  }
  